:root {
  --color1: #1C2E4F;
  --color2: #0A192F;
  --color2a: #020D1E;
  --color3: #64FFDA;
  --color3a: #33BB9A;
  --color4: #F2EFEF;
  --color5: #CE73AC;
  --color6: #4A49CB;
  --color7: #E7B274;
  --color7a: #C6873D;
  --disable-color: #858C97;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color2a);
}

html {
  height: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}