:root {
  --color1: #1c2e4f;
  --color2: #0a192f;
  --color3: #64ffda;
  --color4: #f2efef;
  --color5: #ce73ac;
  --color6: #4a49cb;
  --disable-color: #858c97;
}
* {
  font-family: "Roboto Mono", monospace;
}
body {
  background-color: var(--color2);
}
